h1{color: silver;}

	body{
	background-image: url("https://raw.githubusercontent.com/Siddhartha-bill/wrestling-themes.github.io/master/images/wwe%20logo.png");
	background-repeat: no-repeat;
	background-size: cover;
 	background-attachment: fixed;
}
p{color: white;}
button {background-color: maroon;}
a{color: white;}
